<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Warehouser_WPF.Hi_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Warehouser_WPF.Hi_Settings>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="userToken" serializeAs="String">
                <value />
            </setting>
            <setting name="httpProxy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="httpProxyURL" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="httpProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="darkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="httpProxyEC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="httpProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="httpProxyPwd" serializeAs="String">
                <value />
            </setting>
        </Warehouser_WPF.Hi_Settings>
    </userSettings>
</configuration>